.headerContainer{

    text-align: center;
}

.gameBoard{
 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0;
    padding: 0;
    flex-direction: column;
    

    
    
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.gameBoard ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }


.playerSymbolBut {
    margin-left: 1rem;
    font-size: 1rem;
    color: #e1dec7;
    padding: 2rem;
    cursor: pointer;
  }
  #players.higlight-payer li.active{

  }

.player{

 padding: 5px;
 margin-right: 20px;
 border-radius: 20px;
 color: rgba(21, 21, 22, 0.7);



}
input{
  padding: 5px;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.2em;
}
.playerSymbol{
  margin: 0 10px;
  color: rgb(60, 60, 60);
}