body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{

  height: 100vh;
  background-image: linear-gradient(antiquewhite, rgb(166, 164, 160));
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerInfoGameBoard{
  max-width: 40%;
  min-width: 500px;
  margin: auto;
  border: 5px outset rgb(90, 87, 87);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(52, 50, 47);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 2px 15px 5px;
  }
  #players{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    font-size: 2rem;
  }


  .higlightPayer li.active{
    background-color: rgba(42, 165, 118, 0.433);
    border-radius: 0.8rem;
    border: 2px solid rgb(3, 94, 3);
    
  }


.gameOver{
  min-height: 800px;
  min-width: 800px;
  background-color: rgba(174, 144, 205, 0.956);
  border: 10px outset rgb(61, 48, 61);
  animation: infinite;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
top: 20%;
left:35%;
  font-size: 3rem;

}
.gameOver p{
  font-weight: bold;
}
.gameOver button{
  font-size: 1.5rem;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 10px 2px rgb(76, 53, 76);
  cursor: pointer;
}