body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{

  height: 100vh;
  background-image: linear-gradient(antiquewhite, rgb(166, 164, 160));
}

.playerInfoGameBoard{
  width: 50%;
  margin: auto;
  border: 5px outset rgb(90, 87, 87);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(181, 178, 175);
  padding: 20px;
  border-radius: 20px;
  
  }
  #players{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    font-size: 2rem;
  }


  .higlightPayer li.active{
    background-color: rgba(42, 165, 118, 0.433);
    border-radius: 0.8rem;
    border: 2px solid rgb(3, 94, 3);
    
  }


.gameOver{
  min-height: 500px;
  min-width: 500px;
  background-color: rgba(174, 144, 205, 0.869);
  border: 3px solid rgb(61, 48, 61);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:5%;
  left:40%;
  font-size: 2rem;

}
.gameOver button{
  font-size: 1.5rem;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 0.5rem;
}